.quote-box {
display: table;
background: #fff;
width: 500px;
margin: 10% auto auto auto;
padding: 40px 50px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
box-shadow: 0 1px 5px 0 rgba(0,0,0,0.25);
}
.quote-text {
font-weight: 500;
font-size: 28px;
text-align: center;
}
.quote-text .fa-quote-left {
margin-right: 0.4em;
}
.quote-author {
font-weight: 500;
padding-top: 30px;
font-size: 1em;
text-align: right;
}
.buttons {
display: block;
margin-top: 30px;
}
.icon {
float: left;
padding: 0px;
padding-top: 8px;
text-align: center;
font-size: 1.2em;
margin-right: 7px;
height: 39px;
width: 42px;
border-radius: 5px;
color: #fff;
background: #7189D7;
}
.icon:hover {
opacity: .8;
}
.new-quote {
padding: 11px 18px;
border-radius: 5px;
font-size: 15px;
color: #fff;
border: none;
font-family: 'Roboto', sans-serif;
font-weight: 500;
float: right;
background: #7189D7;
}
.new-quote:hover {
opacity: .8;
}